[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/KernelSU-Next/KernelSU-Next
	branch = dev
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/osm0sis/AnyKernel3
	branch = master
